:root {
  --m-fg: #fff;
  --m-grid-axis-color: var(--m-fg);
  --m-grid-line-color: #555;
  --m-grid-subdivision-color: #222;
  --m-bg: #000;
  --m-text-color: var(--m-fg);
  --m-movable-point-color: #ee00ab;
}
